<div class="spacer20"></div>
<div class="container">
	<div class="page-header">
		<div class="row">
			<div class="col-md-10">
				<h1>Cargas - {{distribuidorNombre}}</h1>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary pull-right" routerLink="/{{distribuidorId}}/cargas/formulario">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;Nueva carga
				</button>
			</div>
		</div>
	</div>
	<table class="table table-striped" *ngIf="0 < cargas.length">
		<thead>
			<tr>
				<th scope="col">Peso</th>
				<th scope="col">Descripci&oacute;n</th>
				<th scope="col">Estado</th>
				<th scope="col">Precio</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let carga of cargas">
				<td>{{ carga.peso | number }} Kg</td>
				<td>{{ carga.descripcion}}</td>
				<td>{{ carga.estado | estadoCarga}}</td>
				<td>{{ carga.precio | currency:'COP' }}</td>
			</tr>
		</tbody>
	</table>
	<div class="alert alert-info" role="alert" *ngIf="0 === cargas.length">
		El distribuidor no tiene cargas registradas
	</div>
</div>